.emj {
  background-size: 22px 22px;
  color: transparent;
  display: inline-block;
  vertical-align: middle;
  width: 22px;
  height: 22px;
}

.emj-20 {
  background-size: 20px 20px;
  color: transparent;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

.emj-22 {
  background-size: 22px 22px;
  color: transparent;
  display: inline-block;
  vertical-align: middle;
  width: 22px;
  height: 22px;
}

.emj-25 {
  background-size: 25px 25px;
  color: transparent;
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
}

.emj-30 {
  background-size: 30px 30px;
  color: transparent;
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
}

.emj-site {
  background-image: url(../../demo/site);
}

.emj-css {
  background-image: url(../../demo/site/css);
}

.emj-emoji {
  background-image: url(../../demo/site/css/emoji.css);
}

.emj-img {
  background-image: url(../../demo/site/img);
}

.emj-bar {
  background-image: url(../../demo/site/img/bar.svg);
}

.emj-baz {
  background-image: url(../../demo/site/img/baz.svg);
}

.emj-foo {
  background-image: url(../../demo/site/img/foo.svg);
}
